@import url('satoshi.css');

* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font-family: Satoshi-Regular;
    color: #0D1E4C;
}

body {
    overflow: hidden;
    background-color: #1E3A5F;
}

#map {
    width: 100vw;
    height: 100vh;
    display: block;
}

#map-content image {
    cursor: crosshair;
}

/* Enable map panning on mobile */
svg { touch-action: none; }

#popup-form {
    position: fixed;
    bottom: 5vh;
    left: 15vw;
    right: 15vw;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1002;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
#popup-form h3 {
    font-family: Satoshi-Black; 
    opacity: 50%;
    font-size: 2rem;
}
#pin-message {
    font-family: Satoshi-Black;
    height: 50px;
    margin-right: 10px;
    border: none;
    background: transparent;
    outline: none;
    display: flex;
    flex-grow: 1;
    resize: none;
    font-size: 1.5rem;
}
#submit-pin {
    background: none;
    border: none;
    font-family: Satoshi-Black;
    font-size: 1.5rem;
    cursor: pointer;
}

.popup {
    background-color: #FFE8F5;
    border: 13px solid #FF96E4;
    border-radius: 50px;
    padding: 30px;
}

.popup .close {
    all: unset;
    position: absolute;
    top: -13px;
    right: -13px;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 42px;
    height: 42px;
    cursor: pointer;
    background-image: url('../assets/x_button.svg');
}

.notification {
    position: fixed;
    top: 20px;
    right: 90px;
    /* transform: translateX(-50%); */
    background-color: #1E3A5F;
    color: #FF96E4;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: Satoshi-Bold;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 1s ease;
    z-index: 1003;
}

.speech-bubble {
    position: absolute;
    background-color: #FFE8F5;
    color: #0D1E4C;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Satoshi-Regular;
    font-size: 1rem;
    max-width: 300px;
    word-wrap: break-word;
    z-index: 1004;
    transform: translate(-50%, -100%);
    pointer-events: none;
}