* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    overflow: hidden;
    background-color: #1E3A5F;
}

#map {
    width: 100vw;
    height: 100vh;
    display: block;
}

/* Enable map panning on mobile */
svg { touch-action: none; }